<div id="aboutMe" class="mainContainer">
  <div class="workTogether">Let's work<br />together</div>
  <div class="descriptionField">
    <div class="description">
      I am a Front-end developer based in Munich, Germany. I enjoy helping
      designers and companies bring their ideas into real life. I am looking
      forward to continuing my developer career with a job in a junior web
      developer position.<br /><br />
      If you think I'd be a good match for your projects, contact me!
    </div>
    <a href="#contact" id="message">Send a message</a>
  </div>
</div>
