<div class="mainContainer">
    <div class="imgContainer">
        <div (click)="openWork()" class="img" [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
    </div>
    <div class="textContainer">
        <div class="text">
            <span class="header">{{ header }}</span>
            <span class="skills">{{ skills }}</span>
            <span class="description">{{ description }}</span>
        </div>
        <div (click)="openGit()" id="gitBtn">Github</div>
        <div (click)="openWork()" id="liveTestBtn">Live test</div>
    </div>
</div>
