<div class="Component">
<div id="aboutMe" class="mainContainer">
  <div class="workTogether">
    <p style="margin: 0;" class="en">Let's work<br>together</p>
    <p style="margin: 0;" class="ger">Lass uns<br>zusammen <br>wirken!</p>
  </div>
  <div class="descriptionField">
    <div class="description">
      <p style="margin: 0;" class="en">
        I am a Front-End Developer living in Gengenbach, Germany.
        I like diving into code and creating solutions.
        I am fascinated by the challenge of converting designs into functional and appealing websites or applications.
        I'm looking forward to starting my developer career with one
        Continue as a junior web developer.<br /><br />
        If you think I'd be a good match for your projects, contact me!
      </p>
      <p class="ger">
        Ich bin ein Front-End-Entwickler und wohne in Gengenbach, Deutschland.
        Ich mag es, in den Code einzutauchen und Lösungen zu erschaffen.
        Mich fasziniert die Herausforderung, Designs in funktionale und ansprechende Websites oder Applikationen umzusetzen.
        Ich freue mich darauf, meine Entwicklerkarriere mit einer
        Stelle als Junior-Webentwickler fortzusetzen.<br /><br />
        Wenn Sie denken, dass ich gut zu Ihren Projekten passen würde, kontaktieren
        Sie mich!
    </div >
    <div style="height: 60px;">
      <a href="#contact" id="message" class="sendMsg">
        <div class="en">Send a message</div>
        <div class="ger">Nachricht senden</div>
      </a>
    </div>
  </div>
</div>
</div>
