<div id="aboutMe" class="mainContainer">
  <div class="workTogether">
    <p class="en">Let's work<br />together</p>
    <p class="ger">Lass uns<br />zusammenarbeiten</p>
  </div>
  <div class="descriptionField">
    <div class="description">
      <p class="en">
        I am a Front-end developer based in Gengenbach, Germany. I enjoy helping
        designers and companies bring their ideas into real life. I am looking
        forward to continuing my developer career with a job in a junior web
        developer position.<br /><br />
        If you think I'd be a good match for your projects, contact me!
      </p>
      <p class="ger">
        Ich bin ein Front-End-Entwickler und wohne in Gengenbach, Deutschland. Ich
        helfe Designern und Unternehmen gerne dabei, ihre Ideen in die Realität
        umzusetzen. Ich freue mich darauf, meine Entwicklerkarriere mit einer
        Stelle als Junior-Webentwickler fortzusetzen.<br /><br />
        Wenn Sie denken, dass ich gut zu Ihren Projekten passen würde, kontaktieren
        Sie mich!
    </div >
    <div style="height: 60px;">
      <a href="#contact" id="message" class="sendMsg">
        <div class="en">Send a message</div>
        <div class="ger">Nachricht senden</div>
      </a>
    </div>
  </div>
</div>
