.Circles {
  position: absolute;
  top: 0;
  max-width: 1920px;
  width: 100%;
}

.circleFrontPage {
  position: absolute;
  top: 0;
  left: 0;
}

.circleAboutMe {
  position: absolute;
  top: 926px;
  left: 700px;
  z-index: 9;
}

.circleAboutMeSmall {
  position: absolute;
  top: 1086px;
  right: 15%;
  z-index: 9;
}

.myWorkBig {
  position: absolute;
  top: 2485px;
  right: 12%;
}

.myWorkSmall {
  position: absolute;
  top: 2335px;
  right: 55%;
}

.myWorkLeftHalf {
  position: absolute;
  top: 2862px;
  left: 0;
}

.myWorkRightBig {
  position: absolute;
  top: 3147px;
  right: 0px;
}

.myWorkExtraSmall {
  position: absolute;
  top: 3685px;
  right: 92%;
}

.myWorkBehindProject {
  position: absolute;
  top: 4120px;
  right: 72%;
}

.myWorkFrontProject {
  position: absolute;
  top: 4700px;
  right: 100px;
  z-index: 9;
}

.contactBig {
  position: absolute;
  top: 5337px;
  left: 242px;
}

.contactSmall {
  position: absolute;
  top: 5700px;
  right: 200px;
  z-index: 1;
}

@media (max-width: 1360px) {
  .circleAboutMe {
    right: 27%;
    left: auto;
  }

  .circleAboutMeSmall {
    right: 5%;
  }
}

@media (max-width: 700px) {
  .circleFrontPage {
    overflow: hidden;
    position: absolute;
    left: auto;
    right: 5px;
  }
}
