<nav class="navbar">
    <div>
        <img src="../../../../assets/img/logo header.svg">
    </div>
    <div>
        <img class="burgerMenu" (click)="onBurgerClick()" src="../../../../assets/img/burger menu.svg">
    </div>
    <div class="links">
        <div class="aboutMe">
            <a href="#aboutMe">About me</a>
        </div>
        <div class="skillSet">
            <a href="#skills">Skill set</a>
        </div>
        <div class="myWork">
            <a href="#work">My work</a>
        </div>
    </div>
</nav>
