<nav class="navbar">
    <div>
        <img src="assets/img/logo header.svg">
    </div>
    <div>
        <img class="burgerMenu" (click)="onBurgerClick()" src="assets/img/burger menu.svg">
    </div>
    <div class="links">
        <div class="aboutMe">
            <a href="#aboutMe">
                <div class="en">About me</div>
                <div style="font-size: 22px;" class="ger">Über mich</div>
            </a>
        </div>
        <div class="skillSet">
            <a href="#skills">
                <div class="en">Skill set</div>
                <div style="font-size: 22px;" class="ger">Fähigkeiten</div>
            </a>
        </div>
        <div class="myWork">
            <a href="#work">
                <div class="en">My work</div>
                <div style="font-size: 22px; padding-left: 8px;" class="ger">Projekte</div>
            </a>
        </div>
    </div>
</nav>
