.myWork {
  max-width: 1440px;
  width: 100%;
  height: 333px;
}

.header {
  padding-left: 100px;
  padding-top: 111px;
  color: var(--style-2-Style-2-blue-blue, #5988ff);
  font-family: Baloo;
  font-size: 96px;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: 0.96px;
}

.description {
  padding-left: 100px;
  padding-top: 35px;
  max-width: 673px;
  width: 100%;
  color: var(--Black, #000);
  font-family: Montserrat;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.circleFrontPage {
  position: absolute;
  top: 0;
  left: 0;
}

.circleAboutMe {
  position: absolute;
  top: 926px;
  left: 628px;
  z-index: 9;
}

.circleAboutMeSmall {
  position: absolute;
  top: 1086px;
  left: 1034px;
  z-index: 9;
}

.myWorkBig {
  position: absolute;
  top: 2485px;
  left: 1157px;
}

.myWorkSmall {
  position: absolute;
  top: 2335px;
  left: 563px;
}

.myWorkLeftHalf {
  position: absolute;
  top: 2862px;
  left: 0;
}

.myWorkRightBig {
  position: absolute;
  top: 3147px;
  left: 959px;
}

.myWorkExtraSmall {
  position: absolute;
  top: 3685px;
  left: 100px;
}

.myWorkBehindProject {
  position: absolute;
  top: 4120px;
  left: 131px;
}

.myWorkFrontProject {
  position: absolute;
  top: 4700px;
  left: 1242px;
  z-index: 9;
}

.contactBig {
  position: absolute;
  top: 5337px;
  left: 242px;
}

.contactSmall {
  position: absolute;
  top: 5600px;
  left: 1276px;
}