<app-landing-page></app-landing-page>
<app-about-me></app-about-me>
<app-skills></app-skills>
<div class="myWork">
    <div class="header">My work</div>
    <div class="description">This page is a sample of my work - please feel free to try them out.</div>
</div>
<app-work-left></app-work-left>
<app-work-right></app-work-right>
<app-work-left></app-work-left>
<app-contact></app-contact>

<img class="circleFrontPage" src="../assets/img/Big Circle front page.png">
<router-outlet></router-outlet>


