.landingPage {
        display: inline-flex;
        padding: 0px 747px 207px 0px;
        align-items: center;
        background: var(
          --style-2-Style-2-blue-gradient-ligth-blue,
          linear-gradient(180deg, #fff 12.89%, #eaf0ff 91.39%)
        );
}