<app-landing-page></app-landing-page>
<app-about-me></app-about-me>
<app-skills></app-skills>
<div id="work" class="myWork">
    <div class="header">My work</div>
    <div class="description">This page is a sample of my work - please feel free to try them out.</div>
</div>
<app-work-left [header]="'Join'" [skills]="'Angular | TypeScript | HTML | CSS | Firebase '" [description]="'Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.'" [image]="'../../assets/img/join.png'"></app-work-left>
<app-work-right [header]="'Join'" [skills]="'Angular | TypeScript | HTML | CSS | Firebase '" [description]="'Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.'" [image]="'../../assets/img/join.png'"></app-work-right>
<app-work-left [header]="'Join'" [skills]="'Angular | TypeScript | HTML | CSS | Firebase '" [description]="'Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.'" [image]="'../../assets/img/join.png'"></app-work-left>
<app-work-right [header]="'Join'" [skills]="'Angular | TypeScript | HTML | CSS | Firebase '" [description]="'Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.'" [image]="'../../assets/img/join.png'"></app-work-right>
<app-contact></app-contact>
<app-footer></app-footer>

<img class="circleFrontPage" src="../assets/img/Big Circle front page.png">
<router-outlet></router-outlet>


