
.circleFrontPage {
  position: absolute;
  top: 0;
  left: 0;
}

.circleAboutMe {
  position: absolute;
  top: 926px;
  left: 628px;
  z-index: 9;
}

.circleAboutMeSmall {
  position: absolute;
  top: 1086px;
  left: 1034px;
  z-index: 9;
}

.myWorkBig {
  position: absolute;
  top: 2485px;
  left: 1157px;
}

.myWorkSmall {
  position: absolute;
  top: 2335px;
  left: 563px;
}

.myWorkLeftHalf {
  position: absolute;
  top: 2862px;
  left: 0;
}

.myWorkRightBig {
  position: absolute;
  top: 3147px;
  left: 959px;
}

.myWorkExtraSmall {
  position: absolute;
  top: 3685px;
  left: 100px;
}

.myWorkBehindProject {
  position: absolute;
  top: 4120px;
  left: 131px;
}

.myWorkFrontProject {
  position: absolute;
  top: 4700px;
  left: 1242px;
  z-index: 9;
}

.contactBig {
  position: absolute;
  top: 5337px;
  left: 242px;
}

.contactSmall {
  position: absolute;
  top: 5600px;
  left: 1276px;
}