.mainContainer {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  width: 100%;
  height: 1028px;
  background: var(
    --style-2-Style-2-blue-gradient-ligth-blue,
    linear-gradient(180deg, #fff 12.89%, #eaf0ff 91.39%)
  );
  align-items: center;
}

.navBar {
  max-width: 1720px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.picturePerson {
  max-width: 761px;
  max-height: 917px;
  position: absolute;
  top: 231px;
  left: 32px;
  z-index: 9;
}

.nameAndJob {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nameGreeting {
  padding-top: 194px;
  padding-right: 190px;
  display: flex;
  height: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  flex-shrink: 0;
  color: #5988ff;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.jobTitel {
  display: flex;
  padding-top: 17px;
  flex-direction: column;
  align-items: flex-end;
  > .frontend {
    display: flex;
    padding-right: 64px;
    box-sizing: border-box;
    align-items: flex-end;
    width: 100%;
    height: 114px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #5988ff;
    font-family: Baloo;
    font-size: 128px;
    font-style: normal;
    font-weight: bolder;
    line-height: 120%;
    letter-spacing: -3.2px;
  }

  > .developer {
    display: flex;
    align-items: flex-end;
    padding-right: 70px;
    box-sizing: border-box;
    width: 100%;
    height: 110px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #5988ff;
    font-family: Baloo;
    font-size: 118px;
    font-style: normal;
    font-weight: bolder;
    line-height: 120%;
    letter-spacing: -2.36px;
  }
}

.scrollContainer {
  padding-top: 130px;
  width: 100%;
}

.scroll {
  display: flex;
  width: 100%;
  padding-right: 358px;
  justify-content: flex-end;
  color: var(--style-2-Style-2-blue-blue, #5988ff);
  font-family: Montserrat;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  box-sizing: border-box;
}

.lineContainer {
  padding-top: 10px;
  padding-right: 100px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  box-sizing: border-box;
}

.line {
  width: 0px;
  height: 330px;
  flex-shrink: 0;
  width: 2px;
  height: 325px;
  flex-shrink: 0;
}

.socials {
  padding-left: 266px;
  padding-top: 95px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  z-index: 10;
  > a {
    transition: transform 0.3s ease;
    cursor: pointer;
    &:hover {
      transform: translateX(-10px);
      cursor: pointer;
    }
  }
  > img {
    transition: transform 0.3s ease;
    &:hover {
      transform: translateX(-10px);
      cursor: pointer;
    }
  }
}

#burgerMenu {
  display: flex;
  flex-direction: column;
  z-index: 999;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8) 12.89%,
    rgba(234, 240, 255, 0.8) 91.39%
  );
  width: 100%;
  height: 100vh;
  gap: 147px;

  > .headerBurger {
    display: flex;
    padding: 37px 25px;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(32.5px);
  }

  > .linksBurger {
    display: flex;
    padding-bottom: 339px;
    flex-direction: column;
    align-items: center;
    gap: 29px;
  }
}

.aboutMe {
  display: flex;
  height: 32px;
  padding-bottom: 4px;
  justify-content: center;
  align-items: center;
  >a {
    color: var(--style-2-Style-2-blue-blue, #5988ff);
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }
}
.skills {
  display: flex;
  height: 32px;
  padding-bottom: 4px;
  justify-content: flex-end;
  align-items: center;
  >a {
    color: var(--style-2-Style-2-blue-blue, #5988ff);
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }
}
.myWork {
  display: flex;
  height: 32px;
  padding-bottom: 4px;
  justify-content: center;
  align-items: center;
  >a {
    color: var(--style-2-Style-2-blue-blue, #5988ff);
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }
}
.contact {
  display: flex;
  height: 32px;
  padding: 0px 3px 4px 0px;
  justify-content: center;
  align-items: center;
  >a {
    color: var(--style-2-Style-2-blue-blue, #5988ff);
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }
}

.closeBurger:hover {
  cursor: pointer;
}

@media (max-width: 1360px) {
  .nameGreeting,
  .jobTitel {
    color: #fff;
    z-index: 9;
    align-items: flex-start;
    padding-right: 0;
    padding-left: 19px;
  }

  .jobTitel > .frontend,
  .jobTitel > .developer {
    color: #fff;
    z-index: 9;
    align-items: flex-start;
    padding-right: 0;
  }

  .scrollContainer {
    display: none;
  }

  .picturePerson {
    height: 547px;
    width: 100%;
    top: 480px;
    left: revert;
    overflow: hidden;
  }
}

@media (max-width: 700px) {
  .nameGreeting {
    font-size: 36px;
  }

  .jobTitel > .frontend {
    font-size: 73px;
    letter-spacing: -1.825px;
    height: auto;
  }

  .jobTitel > .developer {
    font-size: 73px;
    letter-spacing: -1.825px;
    height: auto;
  }
}

@media (max-width: 460px) {
  .picturePerson {
    height: 620px;
    top: 408px;
    display: grid;
    justify-content: center;
  }

  .nameGreeting {
    padding-top: 100px;
    padding-left: 12px;
  }

  .jobTitel > .developer {
    font-size: 60px;
  }

  .jobTitel > .frontend {
    font-size: 60px;
  }

  .nameAndJob {
    padding-top: 70px;
  }

  .jobTitel {
    padding-left: 12px;
  }
}
