<div class="mainContainer">
  <div class="picturePerson" >
    <img src="assets/img/sebastian.png" />
  </div>
  <app-navbar (burgerClicked)="onBurgerClicked()" class="navBar"></app-navbar>
  <div class="nameAndJob">
    <div class="nameGreeting">
      <div class="en">Hello!<br>I am Sebastian</div>
      <div class="ger">Hallo!<br>Ich bin Sebastian</div>
    </div>
    <div class="jobTitel">
      <div class="frontend">
        <p style="margin: 0;" class="en">FRONTEND</p>
        <p id="frontendGer" class="ger">FRONTEND</p>
      </div>
      <div class="developer">
        <p style="margin: 0;" class="en">DEVELOPER</p>
        <p id="developerGer" class="ger">ENTWICKLER</p>
      </div>
    </div>
  </div>
  <div class="scrollContainer">
    <span class="scroll">SCROLL</span>
    <div class="lineContainer">
      <img class="line" src="assets/img/Line 1st Page.png" />

      <div class="socials">
        <img (click)="openGitProfile()" src="assets/img/githubIcon.svg" />
        <a href="#contact"><img src="assets/img/mailIcon.svg"/></a>
        <img (click)="openLinkedIn()" src="assets/img/linkedInIcon.svg" />
      </div>
    </div>
  </div>

  <div id="burgerMenu" style="display: none;">
    <div class="headerBurger">
      <img src="assets/img/logoBurger.svg">
      <img class="closeBurger" (click)="closeBurgerMenu()" src="assets/img/closeBurger.svg">
    </div>
    <div class="linksBurger">
      <div class="aboutMe">
        <a (click)="closeBurgerMenu()" class="link" href="#aboutMe">
          <div class="en">About me</div>
          <div class="ger">Über mich</div>
        </a>
      </div>
      <div class="skills">
        <a (click)="closeBurgerMenu()" class="link"  href="#skills">
          <div class="en">Skill set</div>
          <div class="ger">Fähigkeiten</div>
        </a>
      </div>
      <div class="myWork">
        <a (click)="closeBurgerMenu()" class="link"  href="#work">
          <div class="en">My work</div>
          <div class="ger">Projekte</div>
        </a>
      </div>
      <div class="contact">
        <a (click)="closeBurgerMenu()" class="link"  href="#contact">Contact</a>
      </div>
    </div>
  </div>
</div>
