<div class="mainContainer">
  <img class="picturePerson" src="../../../assets/img/Person.png" />
  <app-navbar (burgerClicked)="onBurgerClicked()" class="navBar"></app-navbar>
  <div class="nameAndJob">
    <div class="nameGreeting">Hello!<br>I am Sebastian</div>
    <div class="jobTitel">
      <span class="frontend">FRONTEND</span>
      <span class="developer">DEVELOPER</span>
    </div>
  </div>
  <div class="scrollContainer">
    <span class="scroll">SCROLL</span>
    <div class="lineContainer">
      <img class="line" src="../../../../assets/img/Line 1st Page.png" />

      <div class="socials">
        <img (click)="openGitProfile()" src="../../../assets/img/githubIcon.svg" />
        <a href="#contact"><img src="../../../assets/img/mailIcon.svg"/></a>
        <img (click)="openLinkedIn()" src="../../../assets/img/linkedInIcon.svg" />
      </div>
    </div>
  </div>

  <div id="burgerMenu" style="display: none;">
    <div class="headerBurger">
      <img src="../../../assets/img/logoBurger.svg">
      <img class="closeBurger" (click)="closeBurgerMenu()" src="../../../assets/img/closeBurger.svg">
    </div>
    <div class="linksBurger">
      <div class="aboutMe">
        <a (click)="closeBurgerMenu()" class="link" href="#aboutMe">About me</a>
      </div>
      <div class="skills">
        <a (click)="closeBurgerMenu()" class="link"  href="#skills">Skill set</a>
      </div>
      <div class="myWork">
        <a (click)="closeBurgerMenu()" class="link"  href="#work">My work</a>
      </div>
      <div class="contact">
        <a (click)="closeBurgerMenu()" class="link"  href="#contact">Contact</a>
      </div>
    </div>
  </div>
</div>
