<div class="mainContainer">
    <div id="work" class="myWork">
        <div class="header">My work</div>
        <div class="description">This page is a sample of my work - please feel free to try them out.</div>
    </div>
    <app-work-left 
        [header]="'Join'" 
        [linkLive]="'http://sebastianbinz.com/Join/login/login.html'" 
        [linkGit]="'https://github.com/derSebbl/join'" 
        [skills]="'Angular | TypeScript | HTML | CSS | Firebase '" 
        [description]="'Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.'" 
        [image]="'../../assets/img/join.png'">
    </app-work-left>
    <app-work-right 
        [header]="'Sharkie'" 
        [linkLive]="'http://sebastianbinz.com/Sharkie/index.html'" 
        [linkGit]="'https://github.com/derSebbl/sharkie'" 
        [skills]="'JavaScript | HTML | CSS '" 
        [description]="'Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen.'" 
        [image]="'../../assets/img/Sharkie.png'">
    </app-work-right>
    <app-work-left 
        [header]="'Simple CRM'" 
        [linkLive]="'http://sebastianbinz.com'" 
        [linkGit]="'https://github.com/derSebbl'" 
        [skills]="'Angular | Firebase '" 
        [description]="'A very Simple Customer Relationship Management system working with CRUD functionality.'" 
        [image]="'../../assets/img/crm.png'">
    </app-work-left>
    <app-work-right 
        [header]="'Pokédex'" 
        [linkLive]="'http://sebastianbinz.com/Pokedex/index.html'" 
        [linkGit]="'https://github.com/derSebbl/Pokedex'" 
        [skills]="'JavaScript | HTML | CSS | Api '" 
        [description]="'Based on the PokéAPI a simple library that provides and catalogues pokemon information.'" 
        [image]="'../../assets/img/poke.png'">
    </app-work-right>
</div>
