.Component {
  background: linear-gradient(180deg, #fff 12.89%, #eaf0ff 91.39%);
  display: flex;
  justify-content: center;
}

.mainContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  height: 746px;
  flex-shrink: 0;
  padding-top: 234px;
  padding-bottom: 103px;
}

.content {
  display: flex;
  max-width: 1920px;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
  align-items: baseline;
}

.contact {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: flex-start;
  box-sizing: border-box;
  color: var(--style-2-Style-2-blue-blue, #5988ff);
  text-align: center;
  font-family: Baloo;
  font-size: 90px;
  font-style: normal;
  font-weight: bolder;
  line-height: 120%;
  padding-left: 92px;
  transform: translateY(-50%);
}

.problemHeader {
  padding-top: 139px;
  padding-left: 91px;
  max-width: 473px;
  width: 100%;
  box-sizing: border-box;
  color: var(--style-2-Style-2-blue-blue, #5988ff);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.description {
  padding-top: 35px;
  padding-left: 92px;
  max-width: 473px;
  width: 100%;
  box-sizing: border-box;
  color: var(--Black, #000);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.needContact {
  padding-top: 25px;
  padding-left: 92px;
  max-width: 473px;
  width: 100%;
  box-sizing: border-box;
  color: var(--style-2-Style-2-blue-blue, #5988ff);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  > span {
    color: var(--style-2-Style-2-blue-blue, #5988ff);
    font-family: Baloo;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 120%;
  }
}

.inputContainer {
  position: relative;
  padding-top: 139px;
  padding-right: 108px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  > .nameInput,
  .mailInput {
    position: relative;
    max-width: 617px;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    > .placeholderText {
      font-family: Montserrat;
      position: absolute;
      top: 15px;
      left: 20px;
      pointer-events: none;
      color: gray;
      transition: top 0.3s ease;
    }
    &:focus-within,
    &.not-empty {
      > .placeholderText {
        top: -10px;
        backdrop-filter: blur(70px);
      }
      > input {
        border: 1px solid var(--style-2-Style-2-blue-blue, #5988ff);
        outline: none;
        padding: 15px 25px;
      }
    }
    > input {
      font-family: Montserrat;
      display: flex;
      height: 18px;
      padding: 15px 25px;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      border: 1px solid var(--style-2-Style-2-blue-blue, #5988ff);
      background: var(--White, #fff);
      &:hover {
        padding: 14px 24px;
        border: 2px solid var(--style-2-Style-2-blue-blue, #5988ff);
      }
      &:focus {
        border: 1px solid var(--style-2-Style-2-blue-blue, #5988ff);
        outline: none;
        padding: 15px 25px;
      }
    }
  }
  > .textInput {
    position: relative;
    max-width: 619px;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    > .placeholderTextMsg {
      font-family: Montserrat;
      position: absolute;
      top: 15px;
      left: 20px;
      pointer-events: none;
      color: gray;
      transition: top 0.3s ease;
      z-index: 9;
    }
    &:focus-within,
    &.not-empty {
      > .placeholderTextMsg {
        top: -10px;
        backdrop-filter: blur(70px);
      }
      > textarea {
        border: 1px solid var(--style-2-Style-2-blue-blue, #5988ff);
        outline: none;
        padding: 15px 25px;
      }
    }
    > textarea {
      color: var(--Black, #000);
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      display: flex;
      min-height: 172px;
      padding: 15px 25px;
      align-items: flex-start;
      gap: 10px;
      border-radius: 10px;
      border: 1px solid var(--style-2-Style-2-blue-blue, #5988ff);
      background: var(--White, #fff);
      resize: none;
      position: relative;
      display: inline-block;
      &:hover {
        padding: 14px 24px;
        border: 2px solid var(--style-2-Style-2-blue-blue, #5988ff);
      }
      &:focus {
        border: 1px solid var(--style-2-Style-2-blue-blue, #5988ff);
        outline: none;
        padding: 15px 25px;
      }
    }
  }
}

.btnContainer {
  padding-top: -16px;
  display: flex;
  max-width: 617px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.ceckboxContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  height: 52px;
}

.boxAndText {
  display: flex;
  gap: 10px;
  align-items: center;
}

.checkboxText {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--Black, #000);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.privacy {
  color: #5988ff;
  display: inline-flex;
  justify-content: center;
  padding: 5px 4px;
  align-items: flex-end;
  gap: 10px;
  box-sizing: border-box;
  width: 111px;
  text-wrap: nowrap;
  &:hover {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
}

#btnSend {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.05);
  font-family: Montserrat;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #5988ff;
  border: 2px solid var(--style-2-Style-2-blue-blue, #5988ff);
  background: none;
  z-index: 9;
  &:hover {
    cursor: pointer;
    animation: changeBackground 80ms ease-in-out;
    animation-fill-mode: forwards;
  }
  &:disabled {
    border: 2px solid #bbb;
    color: #bbb;
    &:hover {
      cursor: default;
      animation: none;
    }
  }
}
.arrow {
  position: absolute;
  bottom: 50px;
  left: 10%;
  box-sizing: border-box;
  display: flex;
  width: 39px;
  height: 39px;
  padding: 8px 8px 7px 7px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 41px;
  background: url(../../../assets/img/arrow-back-top.svg),
  var(--style-2-Style-2-blue-GR, radial-gradient(91.12% 91.12% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%));
  background-position: center;
  background-repeat: no-repeat;
  }

.arrow:hover {
  cursor: pointer;
  border: 2px solid var(--style-2-Style-2-blue-GR, #5988ff);
  background: none;
  background-image: url(../../../assets/img/arrow-back-top-hover.svg);
  background-size: 50% 50% cover;
  background-position: center;
  background-repeat: no-repeat;
}

.not-empty {
  > .placeholderText {
    top: -10px;
    backdrop-filter: blur(70px);
  }
}

.errorTxt {
  color: #e61c40;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.errorImg {
  width: 25.049px;
  height: 25px;
  flex-shrink: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}

.acceptImg {
  width: 25.049px;
  height: 25px;
  flex-shrink: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}

.hover-effect {
  font-weight: bold;
  text-decoration: underline;
}

.box {
  display: flex;
  width: fit-content;
  height: fit-content;
  &:hover {
    border-radius: 50%;
    background-color: #D4E0FF;
  } 
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

#EmailMsg {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  z-index: 100;
  font-family: Montserrat;
}

@media (max-width: 1330px) {

  .mainContainer {
    height: auto;
    padding-top: 120px;
  }

  .inputContainer {
    padding-top: 20px;
    padding-right: 0;
  }

  .ceckboxContainer {
    padding-bottom: 30px;
  }
}

@media (max-width: 655px) {

  .contact {
    font-size: 64px;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
  }

  .problemHeader {
    padding-top: 100px;
    font-size: 24px;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
  }

  .description, .needContact {
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
  }

  .content {
    flex-direction: column;
  }

  .inputContainer {
    padding-left: 92px;
    align-items: flex-start;
    padding-left: 24px;
    padding-right: 26px;
    box-sizing: border-box;
  }
}