<div class="mainContainer">
  <div class="topRow">
    <div class="img"><img src="assets/img/logo header.svg" /></div>
    <div class="name">© Sebastian Binz 2024</div>
    <div class="socials">
      <img (click)="openGitProfile()" src="assets/img/Github button.svg" />
      <a href="#contact"><img src="assets/img/Email button.svg"/></a>
      <img (click)="openLinkedIn()" src="assets/img/Linkedin button.svg" />
    </div>
  </div>
  <a routerLink="/imprint" class="imprint">Impressum</a>
</div>
