<div class="mainContainer">
  <div class="contact">Contact</div>
  <div>
    <div class="problemHeader">Got a problem to solve?</div>
    <div class="description">
      Contact me through this form, I am interested in hearing you, knowing your
      ideas and contributing to your projects with my work.
    </div>
    <div class="needContact">
      Need a Frontend developer? <span>Contact me!</span>
    </div>
  </div>
  <form class="inputContainer">
    <input required id="nameField" type="text" placeholder="Your name" />
    <input required id="emailField" type="text" placeholder="Your email" />
    <textarea required id="textField" type="text" placeholder="Your message"></textarea>
    <img class="frameTxt" src="../../assets/img/Frame Textarea.svg" />
    <div class="position">
      <div class="btnContainer">
        <div class="ceckboxContainer">
          <input class="checkbox" type="checkbox">
          <div class="checkboxText">I've read the <a class="privacy">privacy policy </a>and agree to the processing of my data as outlined.</div>
        </div>
        <button class="btnSend" type="submit">Say hello ;) </button>
      </div>
    </div>
  </form>
  <div class="arrow"></div>
</div>