.mainContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 746px;
  flex-shrink: 0;
  background: linear-gradient(180deg, #fff 12.89%, #eaf0ff 91.39%);
  padding-top: 234px;
}

.contact {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  color: var(--style-2-Style-2-blue-blue, #5988ff);
  text-align: center;
  font-family: Baloo;
  font-size: 90px;
  font-style: normal;
  font-weight: bolder;
  line-height: 120%;
  padding-left: 92px;
  transform: translateY(-50%);
}

.problemHeader {
  padding-top: 139px;
  padding-left: 91px;
  width: 473px;
  color: var(--style-2-Style-2-blue-blue, #5988ff);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.description {
  padding-top: 35px;
  padding-left: 92px;
  width: 473px;
  color: var(--Black, #000);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.needContact {
  padding-top: 25px;
  padding-left: 92px;
  width: 473px;
  color: var(--style-2-Style-2-blue-blue, #5988ff);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  > span {
    color: var(--style-2-Style-2-blue-blue, #5988ff);
    font-family: Baloo;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 120%;
  }
}

.inputContainer {
  position: relative;
  padding-top: 139px;
  padding-left: 151px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  > .nameInput,
  .mailInput {
    position: relative;
    gap: 10px;
    display: flex;
    flex-direction: column;
    > .placeholderText {
      font-family: Montserrat;
      position: absolute;
      top: 25%;
      left: 20px;
      pointer-events: none;
      color: gray;
      transition: top 0.3s ease;
    }
    &:focus-within,
    &.not-empty {
      > .placeholderText {
        top: -10px;
        backdrop-filter: blur(70px);
      }
      > input {
        border: 1px solid var(--style-2-Style-2-blue-blue, #5988ff);
        outline: none;
        padding: 15px 25px;
      }
    }
    > input {
      font-family: Montserrat;
      display: flex;
      width: 565px;
      height: 18px;
      padding: 15px 25px;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      border: 1px solid var(--style-2-Style-2-blue-blue, #5988ff);
      background: var(--White, #fff);
      &:hover {
        padding: 14px 24px;
        border: 2px solid var(--style-2-Style-2-blue-blue, #5988ff);
      }
      &:focus {
        border: 1px solid var(--style-2-Style-2-blue-blue, #5988ff);
        outline: none;
        padding: 15px 25px;
      }
    }
  }
  > .textInput {
    position: relative;
    gap: 10px;
    display: flex;
    flex-direction: column;
    > .placeholderTextMsg {
      font-family: Montserrat;
      position: absolute;
      top: 10%;
      left: 20px;
      pointer-events: none;
      color: gray;
      transition: top 0.3s ease;
      z-index: 9;
    }
    &:focus-within,
    &.not-empty {
      > .placeholderTextMsg {
        top: -10px;
        backdrop-filter: blur(70px);
      }
      > textarea {
        border: 1px solid var(--style-2-Style-2-blue-blue, #5988ff);
        outline: none;
        padding: 15px 25px;
      }
    }
    > textarea {
      color: var(--Black, #000);
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      display: flex;
      width: 567px;
      min-height: 172px;
      padding: 15px 25px;
      align-items: flex-start;
      gap: 10px;
      border-radius: 10px;
      border: 1px solid var(--style-2-Style-2-blue-blue, #5988ff);
      background: var(--White, #fff);
      resize: none;
      position: relative;
      display: inline-block;
      &:hover {
        padding: 14px 24px;
        border: 2px solid var(--style-2-Style-2-blue-blue, #5988ff);
      }
      &:focus {
        border: 1px solid var(--style-2-Style-2-blue-blue, #5988ff);
        outline: none;
        padding: 15px 25px;
      }
    }
  }
}

.btnContainer {
  padding-top: -16px;
  display: flex;
  width: 617px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.ceckboxContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.boxAndText {
  display: flex;
  gap: 10px;
}

.checkboxText {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--Black, #000);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.privacy {
  color: #5988ff;
  display: inline-flex;
  justify-content: center;
  padding: 5px 4px;
  align-items: flex-end;
  gap: 10px;
  box-sizing: border-box;
  width: 111px;
  &:hover {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
}

#btnSend {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.05);
  font-family: Montserrat;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #5988ff;
  border: 2px solid var(--style-2-Style-2-blue-blue, #5988ff);
  background: none;
  &:hover {
    cursor: pointer;
    animation: changeBackground 80ms ease-in-out;
    animation-fill-mode: forwards;
  }
  &:disabled {
    border: 2px solid #bbb;
    color: #bbb;
    &:hover {
      cursor: default;
      animation: none;
    }
  }
}
.arrow {
  position: absolute;
  bottom: 50px;
  left: 100px;
  display: flex;
  box-sizing: border-box;
  width: 39px;
  height: 39px;
  padding: 8px 8px 7px 7px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 41px;
  background: url(../../assets/img/arrow-back-top.svg),
    var(
      --style-2-Style-2-blue-GR,
      radial-gradient(
        91.12% 91.12% at 19.79% 22.42%,
        #5988ff 6.25%,
        #5988ff 51.56%,
        #0043f0 100%
      )
    );
  background-size: 50% 50% cover;
  background-position: center;
  background-repeat: no-repeat;
}

.arrow:hover {
  cursor: pointer;
  border: 2px solid var(--style-2-Style-2-blue-GR, #5988ff);
  background: none;
  background-image: url(../../assets/img/arrow-back-top-hover.svg);
  background-size: 50% 50% cover;
  background-position: center;
  background-repeat: no-repeat;
}

.not-empty {
  > .placeholderText {
    top: -10px;
    backdrop-filter: blur(70px);
  }
}

.errorName, .errorMail, .errorMessage, .errorPrivacy {
  color: #e61c40;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
