<div id="contact" class="mainContainer">
  <div class="content">
    <div class="contact">Contact</div>
    <div>
    <div class="problemHeader">Got a problem to solve?</div>
    <div class="description">
      Contact me through this form, I am interested in hearing you, knowing your
      ideas and contributing to your projects with my work.
    </div>
    <div class="needContact">
      Need a Frontend developer? <span>Contact me!</span>
    </div>
  </div> 
  <form class="inputContainer" (submit)="sendMail()" #contactForm="ngForm">
    <div class="nameInput">
      <div class="placeholderText"> Your name </div>
      <input required id="nameField" type="text" name="name" [(ngModel)]="name" #nameField="ngModel">
      <img class="acceptImg" *ngIf="nameField.valid && nameField.touched" src="../../assets/img/accepted.svg">
      <img class="errorImg" *ngIf="nameField.invalid && nameField.touched" src="../../assets/img/error.svg">
      <div class="errorTxt" *ngIf="nameField.invalid && nameField.touched">Your name is required </div>
    </div>
    <div class="mailInput">
      <div class="placeholderText">Your email</div>
      <input required id="emailField" type="email" name="email" [(ngModel)]="email" #mailField="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      <img class="acceptImg" *ngIf="mailField.valid && mailField.touched" src="../../assets/img/accepted.svg">
      <img class="errorImg" *ngIf="mailField.invalid && mailField.touched" src="../../assets/img/error.svg">
      <div class="errorTxt" *ngIf="mailField.invalid && mailField.touched">Your email is required</div>
    </div>
    <div class="textInput">
      <div class="placeholderTextMsg">Your message</div>
      <textarea required id="textField" type="text" name="message" [(ngModel)]="message" #textField="ngModel"></textarea>
      <img class="acceptImg" *ngIf="textField.valid && textField.touched" src="../../assets/img/accepted.svg">
      <img class="errorImg" *ngIf="textField.invalid && textField.touched" src="../../assets/img/error.svg">
      <div class="errorTxt" *ngIf="textField.invalid && textField.touched">Your message is empty</div>
    </div>
    <div class="btnContainer">
      <div class="ceckboxContainer">
        <div class="boxAndText">
          <div class="box">
            <input required id="checkbox1" type="checkbox" name="privacy" [(ngModel)]="privacy" #privacyField="ngModel" class="checkbox-input">
            <label for="checkbox1" class="checkbox-label">
              <img id="checkbox" src="../../assets/img/checkbox_empty.svg" class="checkbox-svg unchecked" [style.display]="privacy ? 'none' : 'block'">
              <img src="../../assets/img/checkbox_checked.svg" class="checkbox-svg checked" [style.display]="privacy ? 'block' : 'none'">
            </label>
          </div>
          <label for="checkbox" class="checkboxText">
            <span>
              I've read the 
              <span [class.hover-effect]="isHovering" class="privacy">privacy policy</span>
              and agree to the processing of my data as outlined.
            </span>
          </label>
        </div>
        <div class="errorTxt" *ngIf="privacyField.invalid && privacyField.touched">Please accept the privacy policy.</div>
      </div>
      <div style="height: 62px;">
        <button id="btnSend" [disabled]="!contactForm.valid" type="submit">Say hello :) </button>
      </div>
    </div>
  </form>
  </div>
  <div class="arrow" (click)="scrollToTop()"></div>
</div>
