<div class="mainContainer">
  <app-navbar class="navBar"></app-navbar>
  <img class="picturePerson" src="../../assets/img/Person.png" />
  <div class="nameAndJob">
    <span class="nameGreeting">Hello! I am Sofia</span>
    <div class="jobTitel">
      <span class="frontend">FRONTEND</span>
      <span class="developer">DEVELOPER</span>
    </div>
  </div>
  <div class="scrollContainer">
    <span class="scroll">SCROLL</span>
    <div class="lineContainer">
      <img class="line" src="../../assets/img/Line 1st Page.png" />

      <div class="socials">
        <img (click)="openGitProfile()" src="../../assets/img/githubIcon.svg" />
        <img src="../../assets/img/mailIcon.svg" />
        <img src="../../assets/img/linkedInIcon.svg" />
      </div>
    </div>
  </div>
</div>
