.navBar {
  max-width: 1440px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.picturePerson {
  width: 761px;
  height: 917px;
  flex-shrink: 0;
  position: absolute;
  top: 105px;
  left: 32px;
}
