<div class="mainContainer">
    <div class="imgContainer">
        <div (click)="openWork()" class="img" [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
    </div>
    <div class="textContainer">
        <div class="text">
            <span class="header">{{ header }}</span>
            <span class="skills">{{ skills }}</span>
            <div class="description">
                <div class="en">{{ description }}</div>
                <div class="ger">{{ descriptionGer }}</div>
            </div>
        </div>
        <div class="btnContainer">
            <div>
                <div (click)="openWork()" id="liveTestBtn">Live test</div>
            </div>
            <div>
                <div (click)="openGit()" id="gitBtn">Github</div>
            </div>
        </div>
    </div>
</div>
