<div class="mainContainer">
    <div class="imgContainer">
        <div class="img"></div>
    </div>
    <div class="textContainer">
        <div class="text">
            <span class="header">Join</span>
            <span class="skills">Angular | TypeScript | HTML | CSS | Firebase </span>
            <span class="description">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. </span>
        </div>
        <button id="gitBtn">Github</button>
    </div>
</div>
