<div class="Circles">
    <img id="circleFrontPageEN" src="assets/img/circle/Big Circle front page.png">
    <img id="circleAboutMeEN" src="assets/img/circle/circle.svg" />
    <img id="circleAboutMeSmallEN" src="assets/img/circle/circle AboutMe.svg"/>
    <img id="myWorkBigEN" src="assets/img/circle/myWorkBig.svg">
    <img id="myWorkSmallEN" src="assets/img/circle/myWorkSmall.svg">
    <img id="myWorkLeftHalfEN" src="assets/img/circle/myWorkLeftHalf.svg">
    <img id="myWorkRightBigEN" src="assets/img/circle/myWorkRightBig.svg">
    <img id="myWorkExtraSmallEN" src="assets/img/circle/myWorkExtraSmall.svg">
    <img id="myWorkBehindProjectEN" src="assets/img/circle/myWorkBehindProject.svg">
    <img id="myWorkFrontProjectEN" src="assets/img/circle/myWorkFrontProject.svg">
    <img id="contactBigEN" src="assets/img/circle/ContactBig.svg">
    <img id="contactSmallEN" src="assets/img/circle/ContactSmall.svg">
</div>
