.Circles {
  position: absolute;
  top: 0;
  width: 100%;
}

#circleFrontPageEN, #circleFrontPageGER {
  position: absolute;
  top: 0;
  left: 0;
}

#circleAboutMeEN, #circleAboutMeGER {
  position: absolute;
  top: 926px;
  left: 700px;
  z-index: 9;
}

#circleAboutMeSmallEN, #circleAboutMeSmallGER {
  position: absolute;
  top: 1086px;
  right: 15%;
  z-index: 9;
}

#myWorkBigEN, #myWorkBigGER {
  position: absolute;
  top: 2485px;
  right: 12%;
}

#myWorkSmallEN {
  position: absolute;
  top: 2350px;
  right: 55%;
}

#myWorkSmallGER {
  position: absolute;
  top: 2355px;
  right: 55%;
}

#myWorkLeftHalfEN, #myWorkLeftHalfGER {
  position: absolute;
  top: 2862px;
  left: 0;
}

#myWorkRightBigEN, #myWorkRightBigGER {
  position: absolute;
  top: 3147px;
  right: 0px;
}

#myWorkExtraSmallEN, #myWorkExtraSmallGER {
  position: absolute;
  top: 3685px;
  right: 92%;
}

#myWorkBehindProjectEN, #myWorkBehindProjectGER {
  position: absolute;
  top: 4120px;
  right: 72%;
}

#myWorkFrontProjectEN, #myWorkFrontProjectGER {
  position: absolute;
  top: 4700px;
  right: 100px;
  z-index: 9;
}

#contactBigEN {
  position: absolute;
  top: 5337px;
  left: 20%;
}

#contactSmallEN, #contactSmallGER {
  position: absolute;
  top: 5700px;
  right: 200px;
  z-index: 1;
}

// Media Queries//

@media (max-width: 1736px){

}


@media (max-width: 1390px){
  #myWorkSmallGER {
    top: 2315px;
  }
}

@media (max-width: 1360px) {
  #circleAboutMeEN, #circleAboutMeGER {
    right: 20%;
    left: auto;
  }

  #circleAboutMeSmallEN, #circleAboutMeSmallGER {
    right: 5%;
  }
}

@media (max-width: 1330px) {
  #contactBigEN, #contactBigGER {
    display: none !important;
  }

  #contactSmallEN, #contactSmallGER {
    top: 6616px;
  }

  #myWorkSmallEN, #myWorkSmallGER {
    width: 45px;
    height: 45px;
  }

  #myWorkRightBigEN, #myWorkRightBigGER {
    width: 269.166px;
    height: 269.166px;
  }

  @media (max-width: 1330px) {
    #contactSmallEN, #contactSmallGER {
      display: none !important;
    }
  }

  @media (max-width: 1200px) {
    #myWorkSmallGER {
      top: 2385px;
    }
  }

  @media (max-width: 1044px) {
    #myWorkSmallEN {
      top: 2400px;
    }

    #myWorkSmallGER {
      top: 2500px;
    }

    #myWorkBehindProjectEN, #myWorkBehindProjectGER {
      right: auto;
    }

    #myWorkFrontProjectEN, #myWorkFrontProjectGER {
      top: 4900px;
    }

    #myWorkBigGER {
      display: none !important;
    }
  }

  @media (max-width: 1030px) {

    #myWorkRightBigEN, #myWorkRightBigGER {
      top: 3147px;
      right: 5px;
    }
  }

  @media (max-width: 1000px) {
    #myWorkSmallEN {
      top: 2550px;
    }

    #myWorkSmallGER {
      top: 2750px;
    }

    #myWorkBigEN, #myWorkBigGER {
      top: 2555px;
    }

    #myWorkLeftHalfGER {
      top: 3262px;
    }

    #myWorkFrontProjectGER {
      top: 5200px;
    }
  }

  @media (max-width: 905px) {
    #myWorkBehindProjectEN, #myWorkBehindProjectGER {
      right: 80%;
    }

    #myWorkFrontProjectEN, #myWorkFrontProjectGER {
      top: 4950px;
    }

    #myWorkBigEN, #myWorkBigGER {
      width: 120px;
    }
  }

  @media (max-width: 855px) {
    #myWorkLeftHalfGER {
      display: none !important;
    }
  }

  @media (max-width: 700px) {
    #myWorkSmallEN {
      top: 2400px;
    }

    #myWorkSmallGER {
      top: 2500px;
    }

    #myWorkBigEN, #myWorkBigGER {
      top: 2350px;
    }

    #myWorkRightBigEN, #myWorkRightBigGER {
      top: 2947px;
    }

    #myWorkLeftHalfEN, #myWorkLeftHalfGER {
      top: 2662px;
    }

    #myWorkBehindProjectEN, #myWorkBehindProjectGER {
      top: 4620px;
    }

    #myWorkFrontProjectEN {
      right: auto;
      top: 5650px;
    }

    #myWorkFrontProjectGER {
      right: auto;
      top: 5850px;
    }


    #circleFrontPageEN, #circleFrontPageGER {
      overflow: hidden;
      position: absolute;
      left: auto;
      right: 5px;
    }
  }

  @media (max-width: 655px) {

    #myWorkLeftHalfEN, #myWorkLeftHalfGER {
      display: none !important;
    }

    #myWorkRightBigEN {
      top: 2647px;
    }

    #myWorkRightBigGER {
      top: 2847px;
    }

    #myWorkFrontProjectEN, #myWorkFrontProjectGER {
      top: 4850px;
    }

    #myWorkBehindProjectEN, #myWorkBehindProjectGER {
      top: 4020px;
      right: 5%;
    }
  }

  @media (max-width: 591px) {
    #myWorkSmallEN {
      top: 2600px;
    }

    #myWorkSmallGER {
      top: 2750px;
    }

    #myWorkFrontProjectEN, #myWorkFrontProjectGER {
      top: 5100px;
    }

    #myWorkBehindProjectEN, #myWorkBehindProjectGER {
      top: 4220px;
    }

    #myWorkBehindProjectGER {
      top: 4420px;
    }

    #myWorkRightBigEN {
      top: 2847px;
    }

    #myWorkRightBigGER {
      top: 3047px;
    }

    #myWorkBigEN, #myWorkBigGER {
      display: none !important;
    }
  }

  @media (max-width: 469px) {
    #myWorkFrontProjectEN, #myWorkFrontProjectGER {
      top: 5300px;
    }

    #myWorkBehindProjectEN {
      top: 4420px;
      right: 0;
    }

    #myWorkBehindProjectGER {
      top: 4650px;
    }

    #myWorkExtraSmallEN {
      top: 3885px;
    }

    #myWorkExtraSmallGER {
      top: 4285px;
    }

    #myWorkRightBigEN {
      top: 3047px;
    }

    #myWorkRightBigGER {
      top: 3347px;
    }

    #myWorkSmallEN {
      top: 2830px;
    }

    #myWorkSmallGER {
      top: 2990px;
    }
  }

  @media (max-width: 392px) {
    #myWorkRightBigEN {
      top: 3147px;
    }

    #myWorkRightBigGER {
      top: 3397px;
    }

    #myWorkSmallGER {
      top: 3150px;
    }

    #myWorkBehindProjectGER {
      top: 4850px;
    }

    #myWorkFrontProjectGER {
      top: 5650px;
    }
  }

  @media (max-width: 390px) {
    #myWorkSmallGER {
      top: 3050px;
    }

    #myWorkBehindProjectGER {
      top: 4750px;
    }
  }

  @media (max-width: 384px) {
    #myWorkSmallEN {
      top: 2880px;
    }

    #myWorkSmallGER {
      top: 3080px;
    }

    #myWorkFrontProjectEN {
      top: 5350px;
    }

    #myWorkFrontProjectGER {
      top: 5590px;
    }
  }
}
