<div class="Component">
<div class="Circles">
    <img class="en" id="circleFrontPageEN" src="assets/img/circle/CircleBase.png">
    <img class="en" id="circleAboutMeEN" src="assets/img/circle/circle.svg" />
    <img class="en" id="circleAboutMeSmallEN" src="assets/img/circle/circle AboutMe.svg"/>
    <img class="en" id="myWorkBigEN" src="assets/img/circle/myWorkBig.svg">
    <img class="en" id="myWorkSmallEN" src="assets/img/circle/myWorkSmall.svg">
    <img class="en" id="myWorkLeftHalfEN" src="assets/img/circle/CircleBase.png">
    <img class="en" id="myWorkRightBigEN" src="assets/img/circle/CircleBase.png">
    <img class="en" id="myWorkExtraSmallEN" src="assets/img/circle/myWorkExtraSmall.svg">
    <img class="en" id="myWorkBehindProjectEN" src="assets/img/circle/myWorkBehindProject.svg">
    <img class="en" id="myWorkFrontProjectEN" src="assets/img/circle/myWorkFrontProject.svg">
    <img class="en" id="contactBigEN" src="assets/img/circle/ContactBig.svg">
    <img class="en" id="contactSmallEN" src="assets/img/circle/ContactSmall.svg">

    <img class="ger" id="circleFrontPageGER" src="assets/img/circle/CircleBase.png">
    <img class="ger" id="circleAboutMeGER" src="assets/img/circle/circle.svg" />
    <img class="ger" id="circleAboutMeSmallGER" src="assets/img/circle/circle AboutMe.svg"/>
    <img class="ger" id="myWorkBigGER" src="assets/img/circle/myWorkBig.svg">
    <img class="ger" id="myWorkSmallGER" src="assets/img/circle/myWorkSmall.svg">
    <img class="ger" id="myWorkLeftHalfGER" src="assets/img/circle/CircleBase.png">
    <img class="ger" id="myWorkRightBigGER" src="assets/img/circle/CircleBase.png">
    <img class="ger" id="myWorkExtraSmallGER" src="assets/img/circle/myWorkExtraSmall.svg">
    <img class="ger" id="myWorkBehindProjectGER" src="assets/img/circle/myWorkBehindProject.svg">
    <img class="ger" id="myWorkFrontProjectGER" src="assets/img/circle/myWorkFrontProject.svg">
    <img class="ger" id="contactBigGER" src="assets/img/circle/ContactBig.svg">
    <img class="ger" id="contactSmallGER" src="assets/img/circle/ContactSmall.svg">
</div>
</div>
