.Circles {
  position: absolute;
  top: 0;
  max-width: 1920px;
  width: 100%;
}

#circleFrontPageEN {
  position: absolute;
  top: 0;
  left: 0;
}

#circleAboutMeEN {
  position: absolute;
  top: 926px;
  left: 700px;
  z-index: 9;
}

#circleAboutMeSmallEN {
  position: absolute;
  top: 1086px;
  right: 15%;
  z-index: 9;
}

#myWorkBigEN {
  position: absolute;
  top: 2485px;
  right: 12%;
}

#myWorkSmallEN {
  position: absolute;
  top: 2335px;
  right: 55%;
}

#myWorkLeftHalfEN {
  position: absolute;
  top: 2862px;
  left: 0;
}

#myWorkRightBigEN {
  position: absolute;
  top: 3147px;
  right: 0px;
}

#myWorkExtraSmallEN {
  position: absolute;
  top: 3685px;
  right: 92%;
}

#myWorkBehindProjectEN {
  position: absolute;
  top: 4120px;
  right: 72%;
}

#myWorkFrontProjectEN {
  position: absolute;
  top: 4700px;
  right: 100px;
  z-index: 9;
}

#contactBigEN {
  position: absolute;
  top: 5337px;
  right: 1182px;
}

#contactSmallEN {
  position: absolute;
  top: 5700px;
  right: 200px;
  z-index: 1;
}

@media (max-width: 1360px) {
  #circleAboutMeEN {
    right: 20%;
    left: auto;
  }

  #circleAboutMeSmallEN {
    right: 5%;
  }
}

@media (max-width: 700px) {
  #circleFrontPageEN {
    overflow: hidden;
    position: absolute;
    left: auto;
    right: 5px;
  }
}

@media (max-width: 1330px) {
  #contactBigEN {
    display: none;
  }

  #contactSmallEN {
    top: 6616px;
  }

  #myWorkSmallEN {
    width: 45px;
    height: 45px;
  }

  #myWorkRightBigEN {
    width: 269.166px;
    height: 269.166px;
  }

  @media (max-width: 1330px) {
    #contactSmallEN {
      display: none;
    }
  }

  @media (max-width: 1044px) {
    #myWorkSmallEN {
      top: 2400px;
    }

    #myWorkBehindProjectEN {
      right: auto;
    }

    #myWorkFrontProjectEN {
      top: 4900px;
    }
  }

  @media (max-width: 1030px) {

    #myWorkRightBigEN {
      top: 3147px;
      right: 5px;
    }
  }

  @media (max-width: 1000px) {
    #myWorkSmallEN {
      top: 2550px;
    }

    #myWorkBigEN {
      top: 2555px;
    }
  }

  @media (max-width: 905px) {
    #myWorkBehindProjectEN {
      right: 80%;
    }

    #myWorkFrontProjectEN {
      top: 4950px;
    }

    #myWorkBigEN {
      width: 120px;
    }
  }

  @media (max-width: 700px) {
    #myWorkSmallEN {
      top: 2400px;
    }

    #myWorkBigEN {
      top: 2350px;
    }

    #myWorkRightBigEN {
      top: 2947px;
    }

    #myWorkLeftHalfEN {
      top: 2662px;
    }

    #myWorkBehindProjectEN {
      top: 4620px;
    }

    #myWorkFrontProjectEN {
      right: auto;
      top: 5650px;
    }
  }

  @media (max-width: 655px) {

    #myWorkLeftHalfEN {
      display: none;
    }

    #myWorkRightBigEN {
      top: 2647px;
    }

    #myWorkFrontProjectEN {
      top: 4850px;
    }

    #myWorkBehindProjectEN {
      top: 4020px;
      right: 5%;
    }
  }

  @media (max-width: 591px) {
    #myWorkSmallEN {
      top: 2600px;
    }

    #myWorkFrontProjectEN {
      top: 5100px;
    }

    #myWorkBehindProjectEN {
      top: 4220px;
    }

    #myWorkRightBigEN {
      top: 2847px;
    }

    #myWorkBigEN {
      display: none;
    }
  }

  @media (max-width: 469px) {
    #myWorkFrontProjectEN {
      top: 5300px;
    }

    #myWorkBehindProjectEN {
      top: 4420px;
      right: 0;
    }

    #myWorkExtraSmallEN {
      top: 3885px;
    }

    #myWorkRightBigEN {
      top: 3047px;
    }

    #myWorkSmallEN {
      top: 2830px;
    }
  }

  @media (max-width: 392px) {
    #myWorkRightBigEN {
      top: 3147px;
    }
  }

  @media (max-width: 384px) {
    #myWorkSmallEN {
      top: 2880px;
    }

    #myWorkFrontProjectEN {
      top: 5350px;
    }
  }
}
