<div class="Circles">
    <img class="circleFrontPage" src="assets/img/circle/Big Circle front page.png">
    <img class="circleAboutMe" src="assets/img/circle/circle.svg" />
    <img class="circleAboutMeSmall" src="assets/img/circle/circle AboutMe.svg"/>
    <img class="myWorkBig" src="assets/img/circle/myWorkBig.svg">
    <img class="myWorkSmall" src="assets/img/circle/myWorkSmall.svg">
    <img class="myWorkLeftHalf" src="assets/img/circle/myWorkLeftHalf.svg">
    <img class="myWorkRightBig" src="assets/img/circle/myWorkRightBig.svg">
    <img class="myWorkExtraSmall" src="assets/img/circle/myWorkExtraSmall.svg">
    <img class="myWorkBehindProject" src="assets/img/circle/myWorkBehindProject.svg">
    <img class="myWorkFrontProject" src="assets/img/circle/myWorkFrontProject.svg">
    <img class="contactBig" src="assets/img/circle/ContactBig.svg">
    <img class="contactSmall" src="assets/img/circle/ContactSmall.svg">
</div>
