<div class="Component">
<div class="mainContainer">
  <img class="logo" src="assets/img/logo header.svg">

  <h1 class="ger">Datenschutzerklärung</h1>
  <h1 class="en">Privacy Policy</h1>

  <p class="ger">
    Verantwortlicher im Sinne der Datenschutzgesetze, insbesondere der
    EU-Datenschutzgrundverordnung (DSGVO), ist:
  </p>
  <p class="en">
    The person responsible under data protection laws, especially the EU General Data Protection Regulation (GDPR), is:
  </p>
  <p>Sebastian Binz</p>
  <h2 class="ger">Ihre Betroffenenrechte</h2>
  <h2 class="en">Your rights as an affected person</h2>
  <p class="ger">
    Unter den angegebenen Kontaktdaten unseres Datenschutzbeauftragten können
    Sie jederzeit folgende Rechte ausüben:
  </p>
  <p class="en">
    You can exercise the following rights at any time using the contact details provided for our data protection officer:
  </p>
  <ul>
    <li class="ger">
      Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung
      (Art. 15 DSGVO),
    </li>
    <li class="en">
      Information about your data stored with us and their processing (Art. 15 GDPR),
    </li>

    <li class="ger">Berichtigung unrichtiger personenbezogener Daten (Art. 16 DSGVO),</li>
    <li class="en">Correction of incorrect personal data (Art. 16 GDPR),</li>

    <li class="ger">Löschung Ihrer bei uns gespeicherten Daten (Art. 17 DSGVO),</li>
    <li class="en">Deletion of your data stored with us (Art. 17 GDPR),</li>

    <li class="ger">
      Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund
      gesetzlicher Pflichten noch nicht löschen dürfen (Art. 18 DSGVO),
    </li>
    <li class="en">
      Restriction of data processing, if we are not yet allowed to delete your data due to legal obligations (Art. 18 GDPR),
    </li>

    <li class="ger">
      Widerspruch gegen die Verarbeitung Ihrer Daten bei uns (Art. 21 DSGVO) und
    </li>
    <li class="en">
      Objection to the processing of your data by us (Art. 21 GDPR) and
    </li>

    <li class="ger">
      Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt
      haben oder einen Vertrag mit uns abgeschlossen haben (Art. 20 DSGVO).
    </li>
    <li class="en">
      Data portability, if you have consented to data processing or have concluded a contract with us (Art. 20 GDPR).
    </li>

  </ul>
  <p class="ger">
    Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese jederzeit
    mit Wirkung für die Zukunft widerrufen.
  </p>
  <p class="en">
    If you have given us consent, you can revoke it at any time with effect for the future.
  </p>

  <p class="ger">
    Sie können sich jederzeit mit einer Beschwerde an eine Aufsichtsbehörde
    wenden, z. B. an die zuständige Aufsichtsbehörde des Bundeslands Ihres
    Wohnsitzes oder an die für uns als verantwortliche Stelle zuständige
    Behörde.
  </p>
  <p class="en">
    You can contact a supervisory authority at any time with a complaint, e.g. 
    the supervisory authority of the federal state of your residence or the 
    authority responsible for us as the responsible body.
  </p>

  <p class="ger">
    Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit
    Anschrift finden Sie unter:<br>
    <a
      href="https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html"
      target="_blank"
      rel="noopener nofollow"
      >https://www.bfdi.bund.de/DE/Service/<br>Anschriften/Laender/Laender-node.html</a
    >.
  </p>
  <p class="en">
    A list of supervisory authorities (for the non-public sector) with addresses can be found at:<br>
    <a
      href="https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html"
      target="_blank"
      rel="noopener nofollow"
      >https://www.bfdi.bund.de/DE/Service/<br>Anschriften/Laender/Laender-node.html</a
    >.
  </p>

  <h2 class="ger">Cookies</h2>
  <h2 class="en">Cookies</h2>
  <p class="ger">
    Wie viele andere Webseiten verwenden wir auch so genannte „Cookies“. Bei
    Cookies handelt es sich um kleine Textdateien, die auf Ihrem Endgerät
    (Laptop, Tablet, Smartphone o.ä.) gespeichert werden, wenn Sie unsere
    Webseite besuchen.
  </p>
  <p class="en">
    Like many other websites, we also use so-called "cookies". 
    Cookies are small text files that are stored on your end device 
    (laptop, tablet, smartphone, etc.) when you visit our website.
  </p>

  <p class="ger">
    Sie können Sie einzelne Cookies oder den gesamten Cookie-Bestand löschen.
    Darüber hinaus erhalten Sie Informationen und Anleitungen, wie diese Cookies
    gelöscht oder deren Speicherung vorab blockiert werden können. Je nach
    Anbieter Ihres Browsers finden Sie die notwendigen Informationen unter den
    nachfolgenden Links:
  </p>
  <p class="en">
    You can delete individual cookies or the entire cookie inventory. 
    In addition, you will receive information and instructions on how to 
    delete these cookies or how to block their storage in advance. 
    Depending on the provider of your browser, you can find the necessary 
    information under the following links:
  </p>

  <ul>
    <li>
      Mozilla Firefox:
      <a
        href="https://support.mozilla.org/de/kb/cookies-loeschen-daten-von-websites-entfernen"
        target="_blank"
        rel="nofollow noopener"
        >https://support.mozilla.org/de/kb/cookies-loeschen-daten-von-websites-entfernen</a
      >
    </li>
    <li>
      Internet Explorer:
      <a
        href="https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies"
        target="_blank"
        rel="nofollow noopener"
        >https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies</a
      >
    </li>
    <li>
      Google Chrome:
      <a
        href="https://support.google.com/accounts/answer/61416?hl=de"
        target="_blank"
        rel="nofollow noopener"
        >https://support.google.com/accounts/<br>answer/61416?hl=de</a
      >
    </li>
    <li>
      Opera:
      <a
        href="http://www.opera.com/de/help"
        target="_blank"
        rel="nofollow noopener"
        >http://www.opera.com/de/help</a
      >
    </li>
    <li>
      Safari:
      <a
        href="https://support.apple.com/kb/PH17191?locale=de_DE&viewlocale=de_DE"
        target="_blank"
        rel="nofollow noopener"
        >https://support.apple.com/kb/PH17191?locale=de_DE&viewlocale=de_DE</a
      >
    </li>
  </ul>
  <h3 class="ger">Speicherdauer und eingesetzte Cookies:</h3>
  <h3 class="en">Storage duration and cookies used:</h3>

  <p class="ger">
    Soweit Sie uns durch Ihre Browsereinstellungen oder Zustimmung die
    Verwendung von Cookies erlauben, können folgende Cookies auf unseren
    Webseiten zum Einsatz kommen:
  </p>
  <p class="en">
    If you allow us to use cookies through your browser settings or consent, 
    the following cookies may be used on our websites:
  </p>
  
  <h2 class="ger">Technisch notwendige Cookies</h2>
  <h2 class="en">Technically necessary cookies</h2>

  <h3 class="ger">Art und Zweck der Verarbeitung:</h3>
  <h3 class="en">Nature and purpose of the processing:</h3>

  <p class="ger">
    Wir setzen Cookies ein, um unsere Website nutzerfreundlicher zu gestalten.
    Einige Elemente unserer Internetseite erfordern es, dass der aufrufende
    Browser auch nach einem Seitenwechsel identifiziert werden kann.
  </p>
  <p class="en">
    We use cookies to make our website more user-friendly. Some elements of our 
    website require that the calling browser can also be identified after a page change.
  </p>

  <p class="ger">
    Der Zweck der Verwendung technisch notwendiger Cookies ist, die Nutzung von
    Websites für die Nutzer zu vereinfachen. Einige Funktionen unserer
    Internetseite können ohne den Einsatz von Cookies nicht angeboten werden.
    Für diese ist es erforderlich, dass der Browser auch nach einem
    Seitenwechsel wiedererkannt wird.
  </p>
  <p class="en">
    The purpose of using technically necessary cookies is to simplify the use of 
    websites for users. Some functions of our website cannot be offered without 
    the use of cookies. For these, it is necessary that the browser can be 
    recognized even after a page change.
  </p>

  <p class="ger">Für folgende Anwendungen benötigen wir Cookies:</p>
  <p class="en">We need cookies for the following applications:</p>
  
  <h3 class="ger">Rechtsgrundlage und berechtigtes Interesse:</h3>
  <h3 class="en">Legal basis and legitimate interest:</h3>

  <p class="ger">
    Die Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO auf Basis unseres
    berechtigten Interesses an einer nutzerfreundlichen Gestaltung unserer
    Website.
  </p>
  <p class="en">
    The processing is carried out in accordance with Art. 6 Para. 1 lit. f GDPR 
    based on our legitimate interest in a user-friendly design of our website.
  </p>

  <h3 class="ger">Empfänger:</h3>
  <h3 class="en">Recipient:</h3>

  <p class="ger">
    Empfänger der Daten sind ggf. technische Dienstleister, die für den Betrieb
    und die Wartung unserer Website als Auftragsverarbeiter tätig werden.
  </p>
  <p class="en">
    The recipient of the data may be technical service providers who act as 
    processors for the operation and maintenance of our website.
  </p>
  
  <h3 class="ger">Bereitstellung vorgeschrieben oder erforderlich:</h3>
  <h3 class="en">Provision prescribed or necessary:</h3>

  <p class="ger">
    Die Bereitstellung der vorgenannten personenbezogenen Daten ist weder
    gesetzlich noch vertraglich vorgeschrieben. Ohne diese Daten ist jedoch der
    Dienst und die Funktionsfähigkeit unserer Website nicht gewährleistet. Zudem
    können einzelne Dienste und Services nicht verfügbar oder eingeschränkt
    sein.
  </p>
  <p class="en">
    The provision of the aforementioned personal data is neither required by law 
    nor by contract. However, without this data, the service and functionality 
    of our website are not guaranteed. In addition, individual services and 
    services may not be available or restricted.
  </p>

  <h3 class="ger">Widerspruch</h3>
  <h3 class="en">Objection</h3>

  <p class="ger">
    Lesen Sie dazu die Informationen über Ihr Widerspruchsrecht nach Art. 21
    DSGVO weiter unten.
  </p>
  <p class="en">
    Please read the information about your right to object according to Art. 21 
    GDPR further down.
  </p>
  
  <h2 class="ger">Kontaktformular</h2>
  <h2 class="en">Contact form</h2>

  <h3 class="ger">Art und Zweck der Verarbeitung:</h3>
  <h3 class="en">Nature and purpose of the processing:</h3>

  <p class="ger">
    Die von Ihnen eingegebenen Daten werden zum Zweck der individuellen
    Kommunikation mit Ihnen gespeichert. Hierfür ist die Angabe einer validen
    E-Mail-Adresse sowie Ihres Namens erforderlich. Diese dient der Zuordnung
    der Anfrage und der anschließenden Beantwortung derselben. Die Angabe
    weiterer Daten ist optional.
  </p>
  <p class="en">
    The data you enter will be stored for the purpose of individual communication 
    with you. For this purpose, the specification of a valid e-mail address and 
    your name is required. This serves to assign the request and the subsequent 
    answering of the same. The specification of further data is optional.
  </p>

  <h3 class="ger">Rechtsgrundlage:</h3>
  <h3 class="en">Legal basis:</h3>

  <p class="ger">
    Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt auf
    der Grundlage eines berechtigten Interesses (Art. 6 Abs. 1 lit. f DSGVO).
  </p>
  <p class="en">
    The processing of the data entered in the contact form is based on a legitimate 
    interest (Art. 6 Para. 1 lit. f GDPR).
  </p>

  <p class="ger">
    Durch Bereitstellung des Kontaktformulars möchten wir Ihnen eine
    unkomplizierte Kontaktaufnahme ermöglichen. Ihre gemachten Angaben werden
    zum Zwecke der Bearbeitung der Anfrage sowie für mögliche Anschlussfragen
    gespeichert.
  </p>
  <p class="en">
    By providing the contact form, we want to make it easy for you to contact us. 
    The information you provide will be stored for the purpose of processing the 
    request and for possible follow-up questions.
  </p>

  <p class="ger">
    Sofern Sie mit uns Kontakt aufnehmen, um ein Angebot zu erfragen, erfolgt
    die Verarbeitung der in das Kontaktformular eingegebenen Daten zur
    Durchführung vorvertraglicher Maßnahmen (Art. 6 Abs. 1 lit. b DSGVO).
  </p>
  <p class="en">
    If you contact us to request an offer, the processing of the data entered in 
    the contact form will be carried out to carry out pre-contractual measures 
    (Art. 6 Para. 1 lit. b GDPR).
  </p>

  <h3 class="ger">Empfänger:</h3>
  <h3 class="en">Recipient:</h3>

  <p class="ger">Empfänger der Daten sind ggf. Auftragsverarbeiter.</p>
  <p class="en">The recipient of the data may be processors.</p>
  
  <h3 class="ger">Speicherdauer:</h3>
  <h3 class="en">Storage duration:</h3>

  <p class="ger">Daten werden spätestens 6 Monate nach Bearbeitung der Anfrage gelöscht.</p>
  <p class="en">Data will be deleted at the latest 6 months after processing the request.</p>

  <p class="ger">
    Sofern es zu einem Vertragsverhältnis kommt, unterliegen wir den
    gesetzlichen Aufbewahrungsfristen nach HGB und löschen Ihre Daten nach
    Ablauf dieser Fristen.
  </p>
  <p class="en">
    If a contractual relationship is established, we are subject to the legal 
    retention periods according to HGB and delete your data after these periods 
    have expired.
  </p>

  <h3 class="ger">Bereitstellung vorgeschrieben oder erforderlich:</h3>
  <h3 class="en">Provision prescribed or necessary:</h3>

  <p class="ger">
    Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig. Wir
    können Ihre Anfrage jedoch nur bearbeiten, sofern Sie uns Ihren Namen, Ihre
    E-Mail-Adresse und den Grund der Anfrage mitteilen.
  </p>
  <p class="en">
    The provision of your personal data is voluntary. However, we can only process 
    your request if you provide us with your name, your e-mail address and the 
    reason for the request.
  </p>
  
  <h2 class="ger">SSL-Verschlüsselung</h2>
  <h2 class="en">SSL encryption</h2>

  <p class="ger">
    Um die Sicherheit Ihrer Daten bei der Übertragung zu schützen, verwenden wir
    dem aktuellen Stand der Technik entsprechende Verschlüsselungsverfahren (z.
    B. SSL) über HTTPS.
  </p>
  <p class="en">
    To protect the security of your data during transmission, we use state-of-the-art 
    encryption methods (e.g. SSL) via HTTPS.
  </p>
  <hr />

  <h2 class="ger">Information über Ihr Widerspruchsrecht nach Art. 21 DSGVO</h2>
  <h2 class="en">Information about your right to object according to Art. 21 GDPR</h2>

  <h3 class="ger">Einzelfallbezogenes Widerspruchsrecht</h3>
  <h3 class="en">Right to object in individual cases</h3>

  <p class="ger">
    Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation
    ergeben, jederzeit gegen die Verarbeitung Sie betreffender personenbezogener
    Daten, die aufgrund Art. 6 Abs. 1 lit. f DSGVO (Datenverarbeitung auf der
    Grundlage einer Interessenabwägung) erfolgt, Widerspruch einzulegen; dies
    gilt auch für ein auf diese Bestimmung gestütztes Profiling im Sinne von
    Art. 4 Nr. 4 DSGVO.
  </p>
  <p class="en">
    You have the right to object at any time, on grounds relating to your particular 
    situation, to the processing of personal data concerning you which is based on 
    Art. 6 Para. 1 lit. f GDPR (data processing based on a balance of interests); 
    this also applies to profiling based on this provision within the meaning of 
    Art. 4 No. 4 GDPR.
  </p>

  <p class="ger">
    Legen Sie Widerspruch ein, werden wir Ihre personenbezogenen Daten nicht
    mehr verarbeiten, es sei denn, wir können zwingende schutzwürdige Gründe für
    die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten
    überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder
    Verteidigung von Rechtsansprüchen.
  </p>
  <p class="en">
    If you object, we will no longer process your personal data unless we can 
    demonstrate compelling legitimate grounds for the processing that override 
    your interests, rights and freedoms, or the processing serves to assert, 
    exercise or defend legal claims.
  </p>

  <h3 class="ger">Empfänger eines Widerspruchs</h3>
  <h3 class="en">Recipient of an objection</h3>

  <p>Sebastian Binz</p>
  <hr />
  <h2 class="ger">Änderung unserer Datenschutzbestimmungen</h2>
  <h2 class="en">Change of our data protection regulations</h2>

  <p class="ger">
    Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie stets
    den aktuellen rechtlichen Anforderungen entspricht oder um Änderungen
    unserer Leistungen in der Datenschutzerklärung umzusetzen, z.B. bei der
    Einführung neuer Services. Für Ihren erneuten Besuch gilt dann die neue
    Datenschutzerklärung.
  </p>
  <p class="en">
    We reserve the right to adapt this data protection declaration so that it always 
    complies with current legal requirements or to implement changes to our services 
    in the data protection declaration, e.g. when introducing new services. The new 
    data protection declaration will then apply to your next visit.
  </p>

  <h2 class="ger">Fragen an den Datenschutzbeauftragten</h2>
  <h2 class="en">Questions to the data protection officer</h2>

  <p class="ger">
    Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail
    oder wenden Sie sich direkt an die für den Datenschutz verantwortliche
    Person in unserer Organisation:
  </p>
  <p class="en">
    If you have any questions about data protection, please send us an e-mail or 
    contact the person responsible for data protection in our organization directly:
  </p>

  <p class="ger">
    <em
      >Die Datenschutzerklärung wurde mithilfe der activeMind AG erstellt, den
      Experten für
      <a
        href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/"
        target="_blank"
        rel="noopener"
        >externe Datenschutzbeauftragte</a
      >
      (Version #2020-09-30).</em
    >
  </p>
  <p class="en">
    <em
      >The data protection declaration was created with the help of activeMind AG, 
      the experts for
      <a
        href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/"
        target="_blank"
        rel="noopener"
        >external data protection officers</a
      >
      (Version #2020-09-30).</em
    >
  </p>
  <div class="arrowContainer">
    <a (click)="back()" class="arrow"></a>
  </div>
</div>
</div>
