.mainContainer {
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    width: 100%;
    height: 460px;
    gap: 38px;
  }
  
  .imgContainer {
    display: flex;
    width: 720px;
    height: 460px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    padding-right: 50px;
  }
  
  .img {
    display: flex;
    width: 620px;
    height: 393px;
    padding: 10px 0px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    background: url(../../assets/img/join.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 9;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
    transition: background-size 0.2s ease, transform 0.2s ease;
    &:hover {
        width: 640px;
        height: 413px;
        transition: width 0.2s, height 0.2s; 
            transform: translateY(-26px);
    }
  }
  
  .textContainer {
    display: flex;
    width: 536px;
    height: 339px;
    flex-direction: column;
    align-items: flex-end;
    gap: 35px;
    flex-shrink: 0;
    padding-left: 96px;
    padding-top: 191px;
  }
  
  .text {
    display: flex;
    width: 536px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  
  .header {
    width: 196px;
    height: 42.821px;
    color: var(--style-2-Style-2-blue-blue, #5988ff);
    font-family: Baloo;
    font-size: 45px;
    font-style: normal;
    font-weight: bold;
    line-height: 120%;
  }
  .skills {
    color: var(--style-2-Style-2-blue-blue, #5988ff);
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  .description {
    width: 531px;
    color: var(--Black, #000);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  
  #gitBtn {
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid var(--style-2-Style-2-blue-blue, #5988ff);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
    color: var(--style-2-Style-2-blue-blue, #5988ff);
    background-color: #fff;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    &:hover {
      cursor: pointer;
      animation: changeBackground 80ms ease-in-out;
      animation-fill-mode: forwards;
    }
  }