.mainContainer {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  width: 100%;
  min-height: 632px;
  background: linear-gradient(
    129deg,
    #5988ff -33.96%,
    #5988ff 36.71%,
    #0043f0 112.25%
  );
  align-items: center;
}

.header {
  padding-top: 93px;
  color: var(--White, #fff);
  font-family: Baloo;
  font-size: 96px;
  font-style: normal;
  font-weight: bolder;
  line-height: 100%;
  letter-spacing: 0.96px;
}

.skillIcons {
  padding-top: 17px;
  display: flex;
  max-width: 957px;
  width: 100%;
  min-height: 340px;
  flex-direction: column;
  align-items: baseline;
  gap: 47px;
  flex-shrink: 0;
  > .skillRowTop {
    display: flex;
    max-width: 1042px;
    width: 100%;
    gap: 25px;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  > .skillRowBottom {
    display: flex;
    max-width: 1042px;
    width: 100%;
    gap: 25px;
    justify-content: space-between;
    align-items: baseline;
    flex-shrink: 0;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
}

.icons {
  display: flex;
  width: 86px;
  height: 150px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: var(--White, #fff);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  &:hover {
    font-weight: 600;
    > img {
      transform: translate(3px, -12px); 
    }
  }
  > img {
    display: flex;
    height: 75px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    transition: transform 0.1s ease-in-out; 
  }
  > span {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .icons {
    height: 100px;
    width: 75px;
  }

  .header {
    padding-bottom: 35px;
    font-size: 64px;
  }
}

  @media (max-width: 591px) {
  .skillIcons >.skillRowBottom {
    gap: 65px;
  }
}

@media (max-width: 460px) {
  .skillIcons >.skillRowBottom {
    gap: 25px;
  }
}